*{
    padding:0;
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px;
    
}
header .logo{
    font-size: 30px;
    text-transform: uppercase;
    margin: 20px;
    color: black;
    list-style: none;
}
header .logo span{
    color: red;
    font-size: 30PX;
}



header ul{
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;
    list-style:none;
    
    
    
    
}
header ul :hover{
    background: rgb(14, 82, 176);
    color: rgba(231, 225, 225, 0.959);
}
header ul span{
    color: rgb(14, 14, 16);
    font-size: 30px;
    margin-left: 15px;
    list-style: none;
}
header UL span {
background: rgb(8, 100, 192);
color: aliceblue;
border-radius: 30px;
}
header ul li{
    margin-right: 30px;
    
}

img{
    float: right;
    width: 430px;
    height: 500px;
    margin: 50px 40px;
}
p{
    margin: 80px 50px;
    font-size: 30px;
}
div ul li{
    margin: 50px 100px;
    font-size: 50px;
    color: #000;
}
h1 a {
    text-decoration: none ;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 14px;
    margin: 60px;
}
h1 :hover{
    background: rgb(27, 87, 207);
    color: aliceblue;
}
div span{
    color: #bd0707;
    font-size: 20px
}
div {
    display: flex;
    margin: 10PX 15PX;
    font-size: 25PX;
    margin-left: 7%;
    
    
}
div br{
    font-size: 30px;
}
h3{
    
margin-left: 10%;
font-size: 17px;

}
h3 a {
    text-decoration: none ;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 14px;
    margin-left: 20%;
    margin-bottom: -10%;
}

h3 :hover{
    background: rgb(27, 87, 207); 
    color: aliceblue;
    
    
}
@media screen and (max-width: 400px){
  .all  {
          display: block;
          width: 100%;
    }
    
}
    
@media  screen and (min-width:401px)and (max-width:600px){
    body{

    }
}
@media screen  and(min-width:601px)and(max-width:900px){
}
    

    
